<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>/admin/goods/*</url-pattern>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/WEB-INF/view/admin/*</url-pattern>
            <url-pattern>/WEB-INF/view/admin/</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/jspf/admin/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/admin/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/view/404.jsp</location>
    </error-page>

</web-app>